<!-- <div style="position: relative; z-index: 0; overflow: hidden; height: 100%;"></div> -->
<div class="content-palet">
    <div class="top-bar">
        <h1 class="anta-bold me-navigator">Gaurang.<span class="sub-domain">me</span></h1>
    </div>
    <div class="mid-content">
        <div class="greet-title">HELLO</div>
        <div>
            <div class="name-title">I'm Gaurang</div>
        </div>
        <div style="padding-left: 7rem;">
            <div class="title-job">
                A Fullstack Developer
            </div>
            <Button class="btn-contact">CONTACT
                ME</Button>
        </div>
    </div>
    <div class="bottom-content">

    </div>
</div>

<div class="design-palet" style="">
    <div class="texture-div-top"></div>
    <div class="texture-div-mid"></div>
    <div class="texture-div-bottom"></div>
</div>