.content-palet {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.top-bar {
    height: 10%;
}

.me-navigator {
    padding-left: 7rem;
    padding-top: 1.5rem;
    font-size: 2.1rem;
}

.sub-domain {
    color: #70acff;
}

.mid-content {
    height: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.bottom-content {
    height: 30%;
}

.design-palet {
    border: 1px sold black;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #144b9d;
    z-index: -1;
}

.greet-title {
    width: 100%;
    padding: 1rem;
    color: #70acff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    padding-left: 7rem;
    font-weight: 500;
}

.name-title {
    width: 100%;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
    padding-left: 7rem;
    z-index: 2;
    font-weight: 500;
}

.title-job {
    width: 100%;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.btn-contact {
    width: fit-content;
    padding: .7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.texture-div-top {
    position: absolute;
    transform: rotate(39deg);
    z-index: -1;
    top: -10.5rem;
    right: .5rem;
    height: 22rem;
    width: 30rem;
    background: -webkit-linear-gradient(135deg, hsla(216, 78%, 40%, 1) 58%, hsla(216, 82%, 63%, 1) 99%);
    /* filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#1758B7", endColorstr="#5592EE", GradientType=1); */
}

.texture-div-mid {
    width: 44rem;
    height: 100rem;
    position: absolute;
    transform: rotate(129deg);
    z-index: -1;
    right: .5rem;
    top: 0rem;
    background: -webkit-linear-gradient(135deg, hsla(216, 78%, 40%, 1) 58%, hsla(216, 82%, 63%, 1) 99%);
    /* filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#1758B7", endColorstr="#5592EE", GradientType=1); */
}

.texture-div-bottom {
    width: 21rem;
    height: 25rem;
    position: absolute;
    transform: rotate(129deg);
    z-index: -1;
    top: 48rem;
    right: 12.5rem;
    background: -webkit-linear-gradient(360deg, hsla(216, 75%, 43%, 1) 58%, rgb(53, 115, 207) 99%);
    /* filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#1B5CBF", endColorstr="#3B5985", GradientType=1); */
}