.top-bar {
    height: 10%;
}

.me-navigator {
    padding-left: 7rem;
    padding-top: 1.5rem;
    font-size: 2.1rem;
}

.sub-domain {
    color: #70acff;
}

.mid-content {
    height: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.bottom-content {
    height: 30%;
}

.greet-title {
    width: 100%;
    padding: 1rem;
    color: #70acff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    padding-left: 7rem;
    font-weight: 500;
}

.name-title {
    width: 100%;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
    padding-left: 7rem;
    z-index: 2;
    font-weight: 500;
}

.title-job {
    width: 100%;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.btn-contact {
    width: fit-content;
    padding: .7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
