<section class="about-section-inner ">
    <h2
        style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 400; font-size: 1.73rem; margin-bottom: 1rem; ">
        ABOUT ME</h2>
    <hr style="background-color: #a39d9d; height: 1px; border: 0; margin-bottom: 2rem;">
    <div class="para-content">
        <p>Hi,
            I'm Gaurang Vishnoi, an Software Engineer @GlobalLogic, India.</p>
        <p>A Full-stack developer passionate about taking on exciting new projects and continuously
            learning to create
            innovative solutions.</p>
        <p
            style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500; font-size: 1.1rem; padding-top: 2rem; ">
            CAREER HIGHLIGHTS:</p>
        <p style=" padding-top: 1rem;"><span><b style="font-weight: 500;">Experience :</b></span> Software Engineer
            @GlobalLogic and Ex-SDE @Digital
            Navigation Pvt. Ltd.</p>
        <p style=" padding-top: 1rem;"><span><b style="font-weight: 500;">Education :</b></span> M.C.A. from Dewan VS
            Group of institution
            <i>(Affiliated to A.K.T.U. University)</i>
        </p>
    </div>
</section>