<div class="content-palet " style="position: relative;">
    <div class="texture-div-5">
        <div class="nav-btn-container">
            <div class="nav-btn-outer">
                <button class="nav-btn">ABOUT</button>
                <span class="btn-underline"></span>
            </div>
        </div>
    </div>
    <div class="texture-div-6">
        <div class="nav-btn-container">
            <div class="nav-btn-outer">
                <button class="nav-btn">SKILLS</button>
                <span class="btn-underline"></span>
            </div>
        </div>
    </div>
    <div class="texture-div-7">
        <div class="nav-btn-container">
            <div class="nav-btn-outer">
                <button class="nav-btn">WORK</button>
                <span class="btn-underline"></span>
            </div>
        </div>
    </div>
</div>