<div class="content-palet" style="border: 1px solid black;position: relative; transition: all .3s ease-in-out;">
    <div class="texture-div-5">
        <div class="nav-btn-container">
            <div class="nav-btn-outer">
                <button class="nav-btn">ABOUT</button>
                <span class="btn-underline"></span>
            </div>
        </div>
    </div>
    <div class="texture-div-6">
        <div class="nav-btn-container">
            <div class="nav-btn-outer">
                <button class="nav-btn">SKILLS</button>
                <span class="btn-underline"></span>
            </div>
        </div>
    </div>
</div>