.texture-div-5 {
    position: fixed;
    transform: rotate(39deg);
    z-index: 0;
    height: 30rem;
    right: 24rem;
    width: 41rem;
    border: 2px solid whitesmoke;
    transition: all .3s ease-in-out;
    top: -17rem;
}

.texture-div-6 {
    position: fixed;
    transform: rotate(39deg);
    z-index: 0;
    height: 38rem;
    right: -29rem;
    width: 49rem;
    border: 2px solid whitesmoke;
    transition: all .3s ease-in-out;
    top: 15rem;
}

.texture-div-7 {
    position: fixed;
    transform: rotate(39deg);
    z-index: 0;
    height: 32rem;
    right: 19rem;
    width: 31rem;
    border: 2px solid whitesmoke;
    transition: all .3s ease-in-out;
    top: 48rem;
}

.texture-div-5:hover,
.texture-div-6:hover,
.texture-div-7:hover {
    box-shadow: 0 0 10px #fff;
    transform: rotate(39deg) scale(1.03);
}

/* Navigation option container for landing page */
.nav-btn-container {
    width: 100%;
    height: 100%;
    position: relative;
}


.nav-btn-outer {
    position: absolute;
    display: flex;
    width: fit-content;
    flex-direction: column;
    transform: rotate(-39deg);
    transition: all .3s ease-in-out;
}

.nav-btn {
    width: fit-content;
    padding: .7rem;
    background-color: transparent;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-weight: 500;
    font-size: 2.2rem;
    border: none;
}

.btn-underline {
    width: 0px;
    height: 2px;
    transition: all .3s ease-in-out;
    background-color: white;
}

/* Positioning for nav items */
.texture-div-5 .nav-btn-outer {
    bottom: 8.5rem;
    right: 7.5rem;
}

.texture-div-6 .nav-btn-outer {
    top: 25rem;
    left: 7rem;
}

.texture-div-7 .nav-btn-outer {
    top: 5rem;
    left: 4rem;
}

.texture-div-5:hover .btn-underline,
.texture-div-6:hover .btn-underline,
.texture-div-7:hover .btn-underline {
    width: 100%;
}

.texture-div-5:hover .nav-btn-outer,
.texture-div-6:hover .nav-btn-outer,
.texture-div-7:hover .nav-btn-outer {
    transform: rotate(-39deg) scale(1.1);
}