<div class="main-container">
  <div class="combined-section-box">
    <section class="left-section">
      <app-left-component></app-left-component>
    </section>
    <section class="right-section">
      <!-- <app-right-component></app-right-component> -->
       <router-outlet></router-outlet>
    </section>
  </div>
  <section class="sidebar-section">
    <app-sidebar></app-sidebar>
  </section>
  <div class="design-palet">
    <div class="design-palet-inner-container">
      <div class="texture-div-1"></div>
      <div class="texture-div-2"></div>
      <div class="texture-div-3"></div>
      <div class="texture-div-4"></div>
    </div>
  </div>
</div>