/* Resetting css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

/* google font class */
.anta-bold {
    font-family: "Anta", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: azure;
}


/* For all main section containers like left section container and right section container */
.content-palet {
    height: 100%;
    width: 100%;
    overflow: auto;
}

/* Styling for all the para graphs */
.para-content {
    padding-top: .5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.05rem;
    color: rgb(82, 82, 82);
}